@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light/Lato-Light.eot');
    src: url('../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/fonts/icomoon.eot?xt34xp');
    src:  url('../fonts/icomoon/fonts/icomoon.eot?xt34xp#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/fonts/icomoon.ttf?xt34xp') format('truetype'),
      url('../fonts/icomoon/fonts/icomoon.woff?xt34xp') format('woff'),
      url('../fonts/icomoon/fonts/icomoon.svg?xt34xp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: white;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-youtube:before {
    content: "\e900";
    color: white;
  }
  