
@media only screen and (max-width: 1200px){
    .first-section{
        .p_button{
            width: 720px;
            .second-p{
                font-size: 33px;
            }
        }
    }
    .second-section{
        .sec-section-p-but{
            width: 740px;
        }
    } 
    .section-five{
        .second-component{
            .row{
                .col{
                    max-width: 220px;
                }
            }
        }
    }
    .section-seven{
        .second-component{
            .row{
                .responsive{
                    max-width: 215px;
                }
            }  
        }
    } 
    .section-eight{
       .container{
           .h_inp_button{
               text-align: center;
              input{
                  margin-bottom: 30px;
              } 
           }
       } 
    }   
    
} 

@media only screen and (max-width: 990px){
    .first-section{
        .p_button{
            width: 575px;
            .second-p{
                font-size: 23px;
            }
        }
    }
    .second-section{
        .sec-section-p-but{
            width: 660px;
        }
    }

    .section-five{
        .first-component{
            p{
                width: 565px;
            }
        }
    } 
    .section-seven{
        .first-component{
            p{
                width: 528px;
            }
        }
        .second-component{
            .row{
                .responsive{
                    max-width: 313px;
                    margin-right: 20px;
                    height: 400px;
                    margin-bottom: 40px;
                }
            }  
        }
    }
    .section-nine{
        .first-component{
            p{
                width: 548px;
            }
        }
        .second-component{
           form{
               .buttonsubmit{
                   justify-content: center;
               } 
           } 
        }
    }   
}

@media only screen and (max-width: 893px){
    .third-section{
        .container{
            .third-section-h-div{
                text-align: center;
                padding-top: 0;
                div{
                    margin: 50px auto;
                    width: 130px;
                }
                button{
                    margin-bottom: 50px;
                }
                p{
                    font-size: 18px;
                }
            }
            .third-section-img-div{
                margin-bottom: 50px;
            }
        }
    }
    .section-seven{
        .second-component{
            .left{
                .articlediv{
                    h2{
                        text-align: center;
                        &:hover{
                            font-size: 30px;
                            transition: 1s;
                        }
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }   
}

@media only screen and (max-width: 770px){
    .first-section{
        .p_button{
            width: 500px;
        }
    }
    .second-section{
        .sec-section-p-but{
            width: 485px;
            button{
                width: 178px;
                height: 42px;
            }
        }
    } 
    .third-section{
        .container{
            .third-section-h-div{
                padding-top: 0;
            }
        } 
    }
    .section-five{
        .first-component{
            p{
                width: 490px;
                font-size: 18px;
            }
        }
        .second-component{
            .row{
                .size{
                    display: flex;
                    justify-content: center;
                }
                .size:nth-child(4){
                    margin-bottom: 1.5rem;
                }
                .size:nth-child(4){
                    margin-bottom: 1.5rem;
                }
                .size:nth-child(5){
                    margin-bottom: 1.5rem;
                }
            }
        }  
    }
    .section-six{
       .black-background{
           .quotes{
                p{
                    width: 5.7in;
                    font-size: 24px;
                }
           }  
       } 
    }   
    .section-seven{
        .first-component{
            p{
                width: 490px;
                font-size: 17px;
            }
        }
       .second-component{
         .row{
             justify-content: center;
                .responsive:last-child{
                    margin-right: 10px;
                }
            }  
        } 
    }
    .section-eight{
        .container{
           .h_inp_button{
              input{
                width: 545px;
              } 
           } 
        }  
    }
    .section-nine{
        .first-component{
            p{
                width: 470px;
                font-size: 17px;
            }
        }
    }  
}