@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';


.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    padding: 1px 20px;
}
.line{
    background-color: black;
    width: 87px;
    height: 1px;
    margin: 0 auto 50px auto;
}
.first-section{
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 695px;
    .header-container-div{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .img-title{
            display: flex;
            justify-content: center;
        }
        i{
            font-size: 25px;
            line-height: 75px;
        }
    }
        .p_button{
            width: 770px;
            height: 325px;
            margin: 155px auto;
            text-align: center;
            text-transform: uppercase;
            font-family: 'montserat';
            .first-p{
                margin-bottom: 45px;
        }
        .second-p{
            margin-bottom: 50px;
            font-size: 40px;
            font-weight: bold;
        }
        button{
            width: 228px;
            height: 60px;
            background: none;
            border: 2px solid black;
            padding: 10px;
            font-size: 18px;
            border-radius: 2px;
            position: relative;
            box-sizing: border-box;
            transition: all 500ms ease; 
            &:hover{
                background-color: #3a7999;;
            }
        }
    }
}
.second-section{
    background-color: black;
    padding: 30px;
        .sec-section-p-but{
        width: 840px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lato Regular';
        text-transform: uppercase;
        p{
            color: white;
            font-size: 13px;
        }
        button{
            width: 200px;
            height: 54px;
            background-color: white;
            color: black;
            border: 3px solid #3a7999;
            border-radius: 25px;
            &:hover{
                border: 3px dotted #3a7999;
                color: #3a7999;
                background: rgba(0,0,0,0);
            }
        }
    }
}
.third-section{
    height: 570px;
    display: flex;
    justify-content: space-between;
    font-family: "Lato Regular";
    .third-section-h-div{
        width: 500px;
        h1{
            text-transform: uppercase;
            margin: 75px auto 20px auto;
            font-size: 22px;
            font-weight: bold;
        }
        h3{
            margin-bottom: 20px;
        }
        div{
            margin-bottom: 50px;
            width: 30px;
            height: 2px;
            background-color: black;
        }
        .third-sec-p{
            margin-bottom: 40px;
        }
        button{
            width: 195px;
            height: 50px;
            background: none;
            border: 2px solid black;
            color: black;
            padding: 10px;
            font-size: 14px;
            border-radius: 2px;
            position: relative;
            box-sizing: border-box;
            transition: all 500ms ease; 
            &:hover{
                background-color:red;
            }
        }
    }
    .third-section-img-div{
        background-image: url('../img/typewriter.jpg');
        background-size: cover;
        width: 570px;
        height: auto;
    }
}

.fourth-section{
    height: 570px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        position: absolute;
        width: 100%;
        background-color: black;
        height: 100%;
      }
      .content {
        position: absolute;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 115px;
        h1{
            color: #f1f1f1;
            font-size: 30px;
            font-weight: bold;
            font-family: "Lato Regular";
            margin-bottom: 10px;
        }
        #myBtn {
            border: none;
            width: 60px;
            height: 60px;
            }
            #img2{
                width: 100%;
                height: 100%;
            }
        }
    }
.section-five{
    height: 1170px;
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .fivesec-title{
            padding: 15px;
            h1{
                font-size: 30px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin: 40px 0 15px 0;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 20px;
            }
        }
        p{
            width: 700px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .button{
            width: 150px;
            height: 50px;
            margin: 10px;
            border: 2px solid black;
            background-color: white;
            padding: 10px;
            font-size: 15px;
            font-family: "Lato Regular";
            transition: all 500ms ease; 
            &:hover{
                background-color: #3a7999;;
            }
        }
    }
    .second-component{
        .row{
            margin: 0 auto;
            .col-4{
                padding: 20px;
                max-width: 310px;
                margin: 20px;
                height: 310px;
            }
        }
        .div1{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .div2{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .div3{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .div4{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .div5{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .div6{
            background-image: url('../img/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .see_more_btn{
            margin: 15px auto;
            width: 150px;
            height: 50px;
            border: 2px solid black;
            background-color: white;
            padding: 10px;
            font-size: 15px;
            font-family: "Lato Regular";
            transition: all 500ms ease; 
            &:hover{
                background-color: yellow;
            }
        }
    }
}
.section-six{
    height:400px;
    background-image: url('../img/coffe1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    img{
        width: 100%;
        height: 100%;
    }
    .quote-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        img{
            width: 60px;
            z-index: 1;
        }
    }
    .quotes{
        p{
            width: 500px;
            color: white;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin: 20px auto;
        }
        h3{
            width: 100px;
            margin: 0 auto;
            font-size: 15px;
            color: white;
        }
    }
}

.section-seven{
    height: 900px;
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .sevensec-title{
            padding: 15px;
            h1{
                font-size: 30px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin: 40px 0 15px 0;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 20px;
            }
        }
        p{
            width: 700px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    
    }
    .second-component{
        .row{
            margin: 0 auto;
            .col-3{
                max-width: 250px;
                margin: 12px;
                height: 310px;
                padding: 0;
                position: relative;
                .pic-div{
                    background-color: black;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    p{
                        text-align: center;
                        color: white;
                        font-size: 25px;
                        font-family: Verdana;
                        padding: 15px;
                    }
                }
            }
            .col-4{
                padding: 20px;
                max-width: 310px;
                margin: 20px;
                height: 260px;
                .col4h2{
                    font-family: "Lato Regular";
                    font-size: 22px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .col4p{
                    font-family: "Laro Regular";
                    font-size: 16px;
                }
            }
        }
            .div1{
                background-image: url('../img/img1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .div2{
                background-image: url('../img/img2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .div3{
                background-image: url('../img/img3.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .div4{
                background-image: url('../img/img4.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        
    }
}
.section-eight{
    height: 210px;
    background-color: black;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .h_inp_button{
            h2{
                color: white;
                font-size: 17px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                font-weight: bold;
                margin-bottom: 15px;
            }
            input{
                background-color: black;
                border: 1px solid white;
                border-radius: 0;
                width: 740px;
                height: 40px;
                margin-right: 25px;
                padding-left: 40px;
                background-image: url("../img/phone.png");
                background-repeat: no-repeat;
                background-size: 25px 25px;
                background-position-x: 10px;
                background-position-y: 5px;
            }
            button{
                border-radius: 0;
                background: white;
                color: black;
                width: 120px;
                height: 40px;
                font-family: "Lato Regular";
                text-transform: uppercase;
            }
        }
    }
}

.section-nine{
    height: 900px;
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .ninesec-title{
            padding: 15px;
            h1{
                font-size: 30px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin: 40px 0 15px 0;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 20px;
            }
        }
        p{
            width: 700px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    
    }
    .second-component{
        margin-top: 30px;
        .icon-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            i{
                font-size: 25px;
                margin-bottom: 30px;
            }  
        }
    }
}