@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'animate.min.scss';

// futurely extended
%button_and_hover {
    background: none;
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
    &:hover{
        background-color: #3a7999;;
    }
  }

.flex{
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
}
.container{
    margin: 0 auto;
    height: 100%;
    padding: 1px 20px;
}
.line{
    background-color: $main-colour-black;
    width: 87px;
    height: 2px;
    margin: 0 auto 80px auto;
}
.first-section{
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 100%;
    .header-container-div{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .img-title{
            display: flex;
            justify-content: center;
        }
        i{
            font-size: 25px;
            line-height: 75px;
            color: $main-colour-black;
        }
    }
        .p_button{
            width: 770px;
            height: 325px;
            margin: 155px auto;
            text-align: center;
            text-transform: uppercase;
            font-family: 'montserat';
            .first-p{
                font-family: "Lato Regular";
                font-weight: bold;
                margin-bottom: 45px;
            }
            .second-p{
                margin-bottom: 50px;
                font-size: 45px;
                font-weight: bold;
                font-family: Montserat;
        }
        button{
            width: 228px;
            height: 60px;
            @extend %button_and_hover;
            color:$main-colour-white;
            cursor: pointer;
        }
    }
}
.second-section{
    background-color: $main-colour-black;
    padding: 30px;
        .sec-section-p-but{
        font-weight: bold;
        width: 840px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserat';
        text-transform: uppercase;
        p{
            color: $main-colour-white;
            font-size: 13px;
            font-family: "Lato Regular";
        }
        button{
            width: 200px;
            height: 54px;
            background-color: $main-colour-white;
            color: black;
            border: 3px solid white;
            border-radius: 25px;
            transition: all 500ms ease; 
            cursor: pointer;
            &:hover{
                border: 3px dotted #3a7999;
                background: #3a7999;
                color: $main-colour-white;
            }
        }
    }
}
.third-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Lato Regular";
    .container{
     display: flex;
     justify-content: space-between;
     .row{
         margin: 0 auto;
     }
        .third-section-h-div{
            width: 500px;
            padding-top: 40px;
            h1{
                text-transform: uppercase;
                margin: 75px auto 20px auto;
                font-size: 23px;
                font-weight: bold;
            }
            h3{
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 13px;
                color: rgba($color: #000000, $alpha: 0.5)
            }
            p{
                font-size: 14px;
                font-family: "Lato Regular";
                color: rgba($color: #000000, $alpha: 0.6)
            }
            div{
                margin-bottom: 50px;
                width: 30px;
                height: 2px;
                background-color: $main-colour-black;
            }
            .third-sec-p{
                margin-bottom: 40px;
            }
            button{
                width: 195px;
                height: 50px;
                background: none;
                border: 2px solid black;
                color: $main-colour-black;
                padding: 10px;
                font-size: 14px;
                border-radius: 2px;
                position: relative;
                box-sizing: border-box;
                transition: all 500ms ease; 
                cursor: pointer;
                &:hover{
                    background-color:#3a7999;
                }
            }
        }
        .third-section-img-div{
            background-image: url('../img/typewriter.jpg');
            background-size: cover;
            width: 570px;
            height: 570px;
            background-position-x: center;
        }
    }
}

.fourth-section{
    height: 570px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        position: absolute;
        width: 100%;
        background-color: $main-colour-black;
        height: 100%;
      }
      .content {
        position: absolute;
        display: flex;
        align-items: center;
        top: 195px;
        h1{
            color: $main-colour-white;
            font-size: 30px;
            font-weight: bold;
            font-family: "Lato Regular";
            margin-bottom: 10px;
            margin-right: 30px;
        }
        #myBtn {
            border: none;
            width: 60px;
            height: 60px;
            }
            #img2{
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
.section-five{
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .fivesec-title{
            h1{
                font-size: 23px;
                text-transform: uppercase;
                font-family: 'Montserat';
                margin: 75px 0 15px 0;
                font-weight: bold;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 20px;
                color: rgba(0, 0, 0, 0.4)
            }
            .line{
                background-color: black;
                width: 87px;
                height: 2px;
                margin: 0 auto 80px auto;
            }
        }
        p{
            width: 690px;
            margin: 0 auto;
            margin-bottom: 77px;
            font-family: "Lato Regular";
            color: rgba($color: #000000, $alpha: 0.6);
        }
        .buttons{
            margin-bottom: 80px;
            .button{
                width: 140px;
                height: 50px;
                margin: 10px;
                border: 2px solid black;
                background-color: $main-colour-white;
                padding: 10px;
                font-size: 15px;
                font-family: "Lato Regular";
                transition: all 500ms ease; 
                cursor: pointer;
                &:hover{
                    background-color: #3a7999;;
                }
            }
        
        }
    }
    .second-component{
        .row{
            .size{
                    .photo{
                    width:310px;
                    margin-bottom: 10px;
                    transition: 1s ease;
                   
                    &:hover{
                        transform: scale(0.8);
                        transition: 1s ease;
                    }
                } 
            }
        }
        .see_more_btn{
            margin: 115px auto;
            width: 170px;
            height: 50px;
            border: 2px solid black;
            background-color: $main-colour-white;
            padding: 10px;
            font-family: "Lato Regular";
            transition: all 500ms ease; 
            cursor: pointer;
            &:hover{
                background-color: yellow;
            }
        }
    }
}
.section-six{
    height: 100%;
    background-image: url('../img/coffe.jpg');
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .black-background{
        background: rgba(0,0,0,0.7);
        height: 100%;
            img{
            width: 100%;
            height: 100%;
        }
        .quote-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            img{
                width: 60px;
            }
        }
        .quotes{
            font-family: "montserat";
            margin-bottom: 70px;
            p{
                width: 6.7in;
                color: $main-colour-white;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                margin: 60px auto;
            }
            h3{
                width: 2in;
                font-weight: bold;
                margin: 0 auto;
                font-size: 13px;
                color: $main-colour-white;
                text-align: center;
            }
        }
    }
    
}

.section-seven{
    height: 100%;
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
        .sevensec-title{
            padding: 15px;
            h1{
                font-size: 23px;
                text-transform: uppercase;
                font-family: "Montserat";
                margin: 75px 0 22px 0;
                font-weight: bold;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 25px;
                color: rgba($color: #000000, $alpha: 0.4);
            }
        }
        p{
            width: 640px;
            margin: 0 auto;
            margin-bottom: 20px;
            color: rgba($color: #000000, $alpha: 0.7);
            font-size: 14px;
            font-family: "Lato Regular";
            line-height: 1.5;
        }
    
    }
    .second-component{
        height: 100%;
        padding-top: 35px;
        margin-bottom: 40px;
        .row{
            margin-left: 0;
            .responsive{
                max-width: 255px;
                margin:10px 10px 10px 0;
                height: 335px;
                padding: 0;
                position: relative;
                &:hover{
                    .pic-div{
                        height: 100%;
                        p{
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 350px;
                        }
                    }
                }
                .pic-div{
                    background-color: rgba(0,0,0,0.8);
                    position: absolute;
                    height: 70px;
                    bottom: 0;
                    width: 100%;
                    transition: height 1s;
                    p{
                        color: $main-colour-white;
                        font-size: 14px;
                        font-family: "Montserat";
                        width: 100%;
                        line-height: 70px;
                        text-align: center;
                    }
                }
            }
            .responsive:last-child{
                margin-right: 0;
                margin-left: 0;
            }
        }
            .left{
                text-align: left;
                padding-top: 80px;
                margin-bottom: 40px;
                .articlediv{
                    padding: 20px;
                    max-width: 360px;
                    height: 100%;
                    .col4h2{
                        font-family: "Lato Regular";
                        font-size: 22px;
                        margin-bottom: 29px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .col4p{
                        font-family: "Laro Regular";
                        font-size: 16px;
                        width: 100%;
                        color: rgba($color: #000000, $alpha: 0.6);
                        line-height: 1.5;
                    }
                }
            }
            .johnstephensondiv1{
                background-image: url('../img/img1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
            }
            .johnstephensondiv2{
                background-image: url('../img/img2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
            }
            .johnstephensondiv3{
                background-image: url('../img/img3.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
            }
            .johnstephensondiv4{
                background-image: url('../img/img4.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
            }
        }
    }

.section-eight{
    height: 250px;
    background-color: $main-colour-black;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .h_inp_button{
            h2{
                color: $main-colour-white;
                font-size: 17px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                font-weight: bold;
                margin-bottom: 30px;
            }
            input{
                background-color: $main-colour-black;
                border: 1px solid $main-colour-white;
                border-radius: 0;
                width: 770px;
                height: 50px;
                color: $main-colour-white;
                font-family: "Montserat";
                font-weight: bold;
                margin-right: 25px;
                padding-left: 70px;
                background-image: url("../img/email.png");
                background-repeat: no-repeat;
                background-size: 25px 25px;
                background-position-x: 30px;
                background-position-y: 13px;
            }
            button{
                border-radius: 0;
                background: $main-colour-white;
                color: $main-colour-black;
                width: 170px;
                height: 50px;
                font-family: "Montserat";
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.section-nine{
    height: 100%;
    .first-component{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .ninesec-title{
            padding: 15px;
            h1{
                font-size: 23px;
                text-transform: uppercase;
                font-family: "Montserat";
                margin: 70px 0 20px 0;
                font-weight: bold;
            }
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-family: "Lato Regular";
                margin-bottom: 20px;
                color: rgba($color: #000000, $alpha: 0.4);
            }
            .line{
                width: 150px;
            }
        }
        p{
            width: 606px;
            margin: 0 auto;
            margin-bottom: 20px;
            font-size: 15px;
            font-family: "Lato Regular";
            line-height: 1.6;
            color: rgba($color: #000000, $alpha: 0.7);
        }
    }
    .second-component{
        margin-top: 60px;
        .icons{
            text-align: center;
            i{
                font-size: 25px;
                margin-bottom: 20px;
            }
            p{
                font-family: "Lato Regular";
                font-size: 13px;
                color: rgba($color: #000000, $alpha: 0.5);
                line-height: 1.6;
            }
        }
        form{
            width: 100%;
            height: 100%;
            margin-top: 100px;
            input[type=text]{
                height: 0.6in;
                margin-bottom: 0.5in;
            }
            .radius{
                border: 1px solid grey;
                border-radius: 0;
            }
            textarea{
                resize: none;
                border-radius: 0;
                background-color: 1px solid black;
            }
            .buttonsubmit{
                padding: 14px;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 40px;
                button{
                    width: 120px;
                    border-radius: 0;
                    background-color: $main-colour-black;
                    cursor: pointer;
                }
            }
        }
    }
}
.final-section{
    height: 100%;
    background-color: $main-colour-black;
    .quote-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        margin-bottom: 20px;
    }
    nav{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        ul{
            display: flex;
            li{
                margin: 20px;
                i{
                    color: $main-colour-white;
                    &:hover{
                        font-size: 30px;
                        color: aqua;
                    }
                }
            }
        }
    }
    h5{
        text-align: center;
        color: $main-colour-white;
        margin-bottom: 60px;
        font-family: "Lato Regular";
    }
}
@import 'mediaqueries.scss';