/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light/Lato-Light.eot");
  src: url("../fonts/Lato-Light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserat';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?xt34xp");
  src: url("../fonts/icomoon/fonts/icomoon.eot?xt34xp#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?xt34xp") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?xt34xp") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?xt34xp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-youtube:before {
  content: "\e900";
  color: white; }

.first-section .p_button button {
  background: none;
  border: 2px solid black;
  padding: 10px;
  font-size: 18px;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; }
  .first-section .p_button button:hover {
    background-color: #3a7999; }

.flex {
  display: flex;
  justify-content: space-around;
  padding: 0 40px; }

.container {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  padding: 1px 20px; }

.line {
  background-color: black;
  width: 87px;
  height: 2px;
  margin: 0 auto 80px auto; }

.first-section {
  background-image: url("../img/header.jpg");
  background-size: cover;
  height: 695px; }
  .first-section .header-container-div {
    padding: 10px;
    display: flex;
    justify-content: space-between; }
    .first-section .header-container-div .img-title {
      display: flex;
      justify-content: center; }
    .first-section .header-container-div i {
      font-size: 25px;
      line-height: 75px;
      color: black; }
  .first-section .p_button {
    width: 770px;
    height: 325px;
    margin: 155px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'montserat'; }
    .first-section .p_button .first-p {
      font-family: "Lato Regular";
      font-weight: bold;
      margin-bottom: 45px; }
    .first-section .p_button .second-p {
      margin-bottom: 50px;
      font-size: 40px;
      font-weight: bold; }
    .first-section .p_button button {
      width: 228px;
      height: 60px;
      color: white; }

.second-section {
  background-color: black;
  padding: 30px; }
  .second-section .sec-section-p-but {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato Regular';
    text-transform: uppercase; }
    .second-section .sec-section-p-but p {
      color: white;
      font-size: 13px;
      font-family: "Lato Regular"; }
    .second-section .sec-section-p-but button {
      width: 200px;
      height: 54px;
      background-color: white;
      color: black;
      border: 3px solid white;
      border-radius: 25px;
      transition: all 500ms ease; }
      .second-section .sec-section-p-but button:hover {
        border: 3px dotted #3a7999;
        background: rgba(64, 168, 23, 0.74);
        color: white; }

.third-section {
  height: 570px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato Regular"; }
  .third-section .container {
    display: flex; }
    .third-section .container .third-section-h-div {
      width: 500px; }
      .third-section .container .third-section-h-div h1 {
        text-transform: uppercase;
        margin: 75px auto 20px auto;
        font-size: 22px;
        font-weight: bold; }
      .third-section .container .third-section-h-div h3 {
        margin-bottom: 20px; }
      .third-section .container .third-section-h-div div {
        margin-bottom: 50px;
        width: 30px;
        height: 2px;
        background-color: black; }
      .third-section .container .third-section-h-div .third-sec-p {
        margin-bottom: 40px; }
      .third-section .container .third-section-h-div button {
        width: 195px;
        height: 50px;
        background: none;
        border: 2px solid black;
        color: black;
        padding: 10px;
        font-size: 14px;
        border-radius: 2px;
        position: relative;
        box-sizing: border-box;
        transition: all 500ms ease; }
        .third-section .container .third-section-h-div button:hover {
          background-color: red; }
    .third-section .container .third-section-img-div {
      background-image: url("../img/typewriter.jpg");
      background-size: cover;
      width: 630px; }

.fourth-section {
  height: 570px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fourth-section video {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%; }
  .fourth-section .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fourth-section .content h1 {
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "Lato Regular";
      margin-bottom: 10px; }
    .fourth-section .content #myBtn {
      border: none;
      width: 60px;
      height: 60px; }
    .fourth-section .content #img2 {
      width: 100%;
      height: 100%; }

.section-five {
  height: 1490px; }
  .section-five .first-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .section-five .first-component .fivesec-title h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-family: "Lato Regular";
      margin: 75px 0 15px 0; }
    .section-five .first-component .fivesec-title h4 {
      font-size: 14px;
      text-transform: uppercase;
      font-family: "Lato Regular";
      margin-bottom: 20px; }
    .section-five .first-component .fivesec-title .line {
      background-color: black;
      width: 87px;
      height: 2px;
      margin: 0 auto 80px auto; }
    .section-five .first-component p {
      width: 690px;
      margin: 0 auto;
      margin-bottom: 77px; }
    .section-five .first-component .buttons {
      margin-bottom: 80px; }
      .section-five .first-component .buttons .button {
        width: 140px;
        height: 50px;
        margin: 10px;
        border: 2px solid black;
        background-color: white;
        padding: 10px;
        font-size: 15px;
        font-family: "Lato Regular";
        transition: all 500ms ease; }
        .section-five .first-component .buttons .button:hover {
          background-color: #3a7999; }
  .section-five .second-component {
    height: 980px; }
    .section-five .second-component .row {
      margin: 0 auto; }
      .section-five .second-component .row .col-4 {
        max-width: 330px;
        height: 340px;
        margin-right: 5px;
        margin-bottom: 10px; }
    .section-five .second-component .div1 {
      background-image: url("../img/1.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .div2 {
      background-image: url("../img/2.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .div3 {
      background-image: url("../img/3.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .div4 {
      background-image: url("../img/4.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .div5 {
      background-image: url("../img/5.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .div6 {
      background-image: url("../img/6.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-five .second-component .see_more_btn {
      margin: 115px auto;
      width: 170px;
      height: 50px;
      border: 2px solid black;
      background-color: white;
      padding: 10px;
      font-family: "Lato Regular";
      transition: all 500ms ease; }
      .section-five .second-component .see_more_btn:hover {
        background-color: yellow; }

.section-six {
  height: 500px;
  background-image: url("../img/coffe1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; }
  .section-six img {
    width: 100%;
    height: 100%; }
  .section-six .quote-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; }
    .section-six .quote-icon img {
      width: 60px; }
  .section-six .quotes p {
    width: 500px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto; }
  .section-six .quotes h3 {
    width: 100px;
    margin: 0 auto;
    font-size: 15px;
    color: white; }

.section-seven {
  height: 100%; }
  .section-seven .first-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px; }
    .section-seven .first-component .sevensec-title {
      padding: 15px; }
      .section-seven .first-component .sevensec-title h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Lato Regular";
        margin: 75px 0 22px 0;
        font-weight: bold; }
      .section-seven .first-component .sevensec-title h4 {
        font-size: 14px;
        text-transform: uppercase;
        font-family: "Lato Regular";
        margin-bottom: 25px; }
    .section-seven .first-component p {
      width: 700px;
      margin: 0 auto;
      margin-bottom: 20px; }
  .section-seven .second-component {
    height: 685px;
    padding-top: 35px;
    margin-bottom: 40px; }
    .section-seven .second-component .row {
      margin-left: 0; }
      .section-seven .second-component .row .col-3 {
        max-width: 255px;
        margin: 10px;
        height: 350px;
        padding: 0;
        position: relative; }
        .section-seven .second-component .row .col-3 .pic-div {
          background-color: black;
          position: absolute;
          height: 70px;
          bottom: 0;
          width: 100%; }
          .section-seven .second-component .row .col-3 .pic-div p {
            color: white;
            font-size: 18px;
            font-family: Verdana;
            width: 100%;
            line-height: 70px;
            text-align: center; }
    .section-seven .second-component .left {
      text-align: left;
      padding-top: 55px; }
      .section-seven .second-component .left .col-4 {
        padding: 20px;
        max-width: 360px;
        height: 260px; }
        .section-seven .second-component .left .col-4 .col4h2 {
          font-family: "Lato Regular";
          font-size: 22px;
          margin-bottom: 20px;
          font-weight: bold;
          text-transform: uppercase; }
        .section-seven .second-component .left .col-4 .col4p {
          font-family: "Laro Regular";
          font-size: 16px;
          width: 100%; }
    .section-seven .second-component .div1 {
      background-image: url("../img/img1.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-seven .second-component .div2 {
      background-image: url("../img/img2.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-seven .second-component .div3 {
      background-image: url("../img/img3.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .section-seven .second-component .div4 {
      background-image: url("../img/img4.jpg");
      background-repeat: no-repeat;
      background-size: cover; }

.section-eight {
  height: 250px;
  background-color: black; }
  .section-eight .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-eight .container .h_inp_button h2 {
      color: white;
      font-size: 17px;
      text-transform: uppercase;
      font-family: "Lato Regular";
      font-weight: bold;
      margin-bottom: 30px; }
    .section-eight .container .h_inp_button input {
      background-color: black;
      border: 1px solid white;
      border-radius: 0;
      width: 770px;
      height: 50px;
      margin-right: 25px;
      padding-left: 50px;
      background-image: url("../img/phone2.png");
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position-x: 10px;
      background-position-y: 10px; }
    .section-eight .container .h_inp_button button {
      border-radius: 0;
      background: white;
      color: black;
      width: 170px;
      height: 50px;
      font-family: "Lato Regular";
      text-transform: uppercase; }

.section-nine {
  height: 915px; }
  .section-nine .first-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .section-nine .first-component .ninesec-title {
      padding: 15px; }
      .section-nine .first-component .ninesec-title h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Lato Regular";
        margin: 70px 0 20px 0;
        font-weight: bold; }
      .section-nine .first-component .ninesec-title h4 {
        font-size: 14px;
        text-transform: uppercase;
        font-family: "Lato Regular";
        margin-bottom: 20px; }
    .section-nine .first-component p {
      width: 700px;
      margin: 0 auto;
      margin-bottom: 20px; }
  .section-nine .second-component {
    margin-top: 60px; }
    .section-nine .second-component .icons {
      text-align: center; }
      .section-nine .second-component .icons i {
        font-size: 25px;
        margin-bottom: 15px; }
    .section-nine .second-component form {
      width: 100%;
      height: 280px;
      margin-top: 100px; }
      .section-nine .second-component form .buttonsubmit {
        padding: 14px;
        display: flex;
        justify-content: flex-end; }
        .section-nine .second-component form .buttonsubmit button {
          width: 120px;
          border-radius: 0;
          background-color: black; }

.final-section {
  height: 260px;
  background-color: black; }
  .final-section .quote-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; }
  .final-section nav {
    display: flex;
    justify-content: center; }
    .final-section nav ul {
      display: flex; }
      .final-section nav ul li {
        margin: 20px; }
        .final-section nav ul li i {
          color: white; }
  .final-section h5 {
    text-align: center;
    color: white; }
